<div class="my-container">
  <h1>Select your plan</h1>
  <p class="paragraph-desc">You have the option of monthly or yearly billing.</p>
  <div class="input-container">
    <div class="mini-card">
      <h1>x</h1>
    </div>
    <div class="mini-card">
      <h1>x</h1>
    </div>
    <div class="mini-card">
      <h1>x</h1>
    </div>
  </div>
  <div class="button-container">
    <button class="btn-next-step" routerLink="/component2">Next Step</button>
    <button class="" routerLink="/component1">Go Back</button>
  </div>
</div>
