<div class="my-container">
  <h1>Personal info</h1>
  <p class="paragraph-desc">Please provide your name, email address, and phone number.</p>
  <div class="input-container">
    <label for="name">Name</label>
    <input placeholder="Your name" id="name" type="text">
  </div>
  <div class="input-container">
    <label for="eadress">Email Address</label>
    <input placeholder="Your Email address" id="eadress" type="email"></div>
  <div class="input-container">
    <label for="phone">Phone Number</label>
    <input placeholder="e.g. +1 234 567 890" id="phone" type="text">
  </div>
  <div class="button-container">
    <button class="btn-next-step">Next Step</button>
  </div>
</div>
